<div class="bg-gray-900 mt-8">
    <div class="flex pb-2 px-3 m-auto pt-2 border-t text-pink-200 text-sm flex-col
      md:flex-row max-w-6xl">
        <div class="mt-4 font-semibold">© Copyright <span id="date"></span>. All Rights Reserved.</div>
        <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
            <a class="my-3 block font-semibold" href="/#">Independence Layout Enugu Enugu, Nigeria <span
                    class="text-teal-600 text-xs p-1"></span></a><a class="my-3 block" href="/#">info@coalcitytv.com
                <span class="text-teal-600 text-xs p-1"></span></a>
        </div>
    </div>
</div>