<style>
    .scroll-hidden::-webkit-scrollbar {
        height: 0px;
        background: transparent;
        /* make scrollbar transparent */
    }
</style>

<header class="flex items-center bg-pink-300 justify-between shadow-md">
    <nav class="container mx-auto px-3">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center">
            <div class="flex justify-between items-center">
                <div class="items-center ">
                    <a href="/">
                        <img class=" h-20 w-40 m-0 p-0 mb-0" src="/img/logo2.png" alt="logo">
                    </a>

                </div>
                <div class="text-center p-0">
                    <h1
                        class="text-gray-800 lg:text-4xl text-2xl capitalize font-semibold focus:outline-none lg:ml-64 mt-1 mb-2 leading-10">
                        Coal City Tv
                    </h1>
                </div>
                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                    <button id="mobileMenuButton" class="p-3 focus:outline-none md:hidden" title="Open side menu">
                        <!-- SVG For "x" button -->
                        {{!-- <svg id="mobileMenuButtonClose" class="w-6 h-6  hidden" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" /></svg> --}}
                        {{!-- <i id="mobileMenuButtonClose" class="w-6 h-6 hidden fas fa-times"></i> --}}
                        <i id="mobileMenuButtonOpen" class="w-6 h-6 hidden text-gray-800 fas fa-bars"></i>
                    </button>
                </div>
            </div>

            <div id="sideMenuHideOnMobile"
                class="lg:bg-pink-300 bg-gray-800 font-semibold z-10 rounded-bl-md flex absolute top-0 right-0 transition-all duration-500 transform translate-x-0
 w-1/2 md:w-auto px-3 md:px-0 flex-col md:flex-row -translate-y-full md:translate-y-0 md:mt-1 md:items-center md:mx-1 mr-8 md:uppercase">
                <a href="/"
                    class="mx-0 sm:mx-2 my-2 lg:text-gray-700 lg:hover:text-gray-800 text-pink-200 hover:text-pink-300 border-pink-300  border-b transition-all duration-500 py-1 sm:p-0">Home</a>
                <a href="/blog"
                    class="mx-0 sm:mx-2 my-2 lg:text-gray-700 lg:hover:text-gray-800 text-pink-200 hover:text-pink-300 border-pink-300  border-b transition-all duration-500 py-1 sm:p-0">Blog</a>
                <a href="/blog"
                    class="mx-0 sm:mx-2 my-2 lg:text-gray-700 lg:hover:text-gray-800 text-pink-200 hover:text-pink-300  transition-all duration-500 sm:p-0">Vlogs</a>
            </div>
        </div>


        <div class="mt-1 py-1 -mx-3 overflow-y-auto whitespace-no-wrap scroll-hidden">
            {{#each categories}}
            <a class="text-sm text-gray-700 capitalize font-medium focus:outline-none border-gray-800  border-b-2 leading-5 mx-3 hover:text-gray-800 lg:mx-3 transition duration-500 ease-in-out lg:my-0 md:my-0"
                href="/category?name={{_id}}">{{name}}</a>
            {{/each}}
        </div>
    </nav>
</header>